{% extends 'base.html' %}

{% block title %}Leash -- Adopt{% endblock %}

{% block headextra %}
<link href="{{ url_for('static', filename='starter-template.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
        <div class="container-fluid">
            {% include 'message_alerts.html' %}
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>You adopted {{ puppy.name }}!</h1>
                    <p><img src="{{ url_for('home.media', filename=puppy.picture) }}" /></p>
                </div>
            </div>
        </div>
{% endblock %}
