{% extends 'base.html' %}

{% block title %}Leash -- Add/Edit User{% endblock %}

{% block headextra %}
<link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">
{% endblock %}

{% block adminnavbar %}admin {% endblock %}

{% block body %}
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                {% include 'message_alerts.html' %}
                <div class="row">
                    <div class="container">
                        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                            <h1 style="display: block;" class="text-center">{{ form_header }}</h1>
                            <p>&nbsp;</p>
                            {% include 'form_errors.html' %}
                            <form class="form-horizontal" enctype="multipart/form-data" action="{{ form_action }}" method="POST">
                            {% if user %}
                            <input type="hidden" name="user_id" value="{{ user.id }}" />
                            {% endif %}
                            <div class="form-group{% if form.name.flags.required %} required{% endif %}">
                                {{ form.name.label(class="col-sm-3 control-label") }}
                                <div class="col-sm-9">
                                    {{ form.name(class="form-control") }}
                                </div>
                            </div>
                            <div class="form-group{% if form.email.flags.required %} required{% endif %}">
                                {{ form.email.label(class="col-sm-3 control-label") }}
                                <div class="col-sm-9">
                                    {{ form.email(class="form-control") }}
                                </div>
                            </div>
                            <div class="form-group{% if form.picture.flags.required %} required{% endif %}">
                                {{ form.picture.label(class="col-sm-3 control-label") }}
                                <div class="col-sm-9">
                                    {% if user and user.picture %}
                                    <img height="60" class="pull-left" src="{{ url_for('home.media', filename=user.picture) }}" /><span class="pull-left"><br />&nbsp;&nbsp;<input type="checkbox" name="_picture_delete" />&nbsp;Delete</span><br />
                                    {% endif %}
                                    {{ form.picture(class="form-control") }}
                                    <span id="helpBlock" class="help-block">{{ form.picture.description }}</span>
                                </div>
                            </div>
                            <div class="form-group{% if form.password.flags.required %} required{% endif %}">
                                {{ form.password.label(class="col-sm-3 control-label") }}
                                <div class="col-sm-9">
                                    {{ form.password(class="form-control") }}
                                </div>
                            </div>
                            <div class="form-group{% if form.role.flags.required %} required{% endif %}">
                            {% if g.user == user %}
                                <label class="col-sm-3 control-label">Role</label>
                                <div class="col-sm-9">
                                    <div class="pull-left" style="padding-top: 7px;">{{ user.user_role }}</div>
                                </div>
                            {% else %}
                                {{ form.role.label(class="col-sm-3 control-label") }}
                                <div class="col-sm-9">
                                    {{ form.role(class="form-control") }}
                                </div>
                            {% endif %}
                            {{ form.csrf_token }}
                            </div>
                            <button type="submit" class="btn btn-primary">Save User Info</button>&nbsp;<a href="{{ url_for('home.siteAdmin', admin_area='users') }}" class="btn btn-default">Cancel</a></span>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
