{% extends 'base.html' %}

{% block title %}Leash -- Reset Your Password{% endblock %}

{% block headextra %}
<link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="row">
                    <div class="container">
                        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                            <h1 style="display: block;" class="text-center">Enter New Password</h1>
                            <h5>Enter your new password below.</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container pg-empty-placeholder center-block">
                        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                            <form role="form" action="{{ url_for('auth.confirm_password_reset', token=token) }}" method="POST">
                                <div class="form-group">
                                    {{ form.password.label }}: {{ form.password(class="form-control") }}
                                    {{ form.csrf_token }}
                                </div>
                                <button type="submit" class="btn btn-primary">Change Password</button>&nbsp;<a href="{{ url_for('home.leashHome') }}" class="btn btn-default">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
